# код будем добавлять на гит хаб - це самий простой і одобний способ,
# в даном файлі будем добавлять які файли і каталоги не будуть добаляться в 
# репізеторій нам не нужно добавлять:
/node_modules 
# і таким образом цей каталог не буде добавляться в наш удальоний репізеторій 
# также ісключаєм токен який ми скрили в одєльний файл 
# таким вот способ досягається безопасность
.env